* {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(29, 26, 26); */
    background-image: url(assets/images/background.gif);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin: 0;
}

header {
    background-color: rgba(27, 17, 46, 0.644);
    font-size: 30px;
    text-align: center;
}

header #header_name {
    padding-top: 10px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(131, 78, 228);
    padding-bottom: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
}

main a {
    text-decoration: none;
    color: rgb(248, 34, 195);
    font-size: 20px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
    background-color: rgba(20, 19, 19, 0.466);
    text-align: center;
}

section h2 {
    text-align: center;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
    background-color: rgba(29, 26, 26, 0.459);
}

article table th {
    background-color: rgb(50, 67, 73);
}

article table td {
    text-align: center;
    background-color: rgb(4, 5, 6);
}


/* BUTTON */
button {
    background-color: rgb(13, 129, 19);
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    font-size: 11px;
}

article #showPrice {
    width: 100px;
}

article #showPrice p {
    color: rgb(24, 218, 40);
    font-weight: bold;
    font-size: 12px;
}

article #showPrice h4 {
    display: none;
}

article #showPrice:hover h4 {
    display: block;
    color: aqua;
}

/* PAGINATION */
article .pagination a{
    font-size: 20px;
    padding: 10px;
}

article .navbar ul {
    /* TO REMOVE BULLET POINTS IN LIST USE THIS CODE BELOW */
    list-style-type: none;

    background-color: rgb(47, 79, 79);
    padding: 0%;
    margin: 0%;

    /* ! THIS IS FOR HORIZONTAL NARVIGATION BAR ONLY ! */
    overflow: hidden;
}

article .navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

article .navbar a:hover {
    background-color: rgb(27, 25, 25);
}

/* ! THIS IS FOR HORIZONTAL NARVIGATION BAR ONLY ! */
/*
.navbar li{
    float: left;
}
*/



/* DROPDOWN MENU BUTTON */
article .dropdown {
    display: inline-block;
}
article .dropdown .Fruits {
    width: 70px;
    height: 23px;
}
article .dropdown a {
    /* THIS WILL ARRANGE THE LINKS IN A LIST FORM */
    display: block;

    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
article .dropdown .content {
    display: none;
    position: absolute;
    background-color: rgb(240, 255, 255);
    min-width: 100px;
    /* SHADOW, 2px(heigth) 2px(width) 5px(blur) black(color) */
    box-shadow: 2px 2px 5px black;
}
/* SHOW CONTENT WHEN HOVERED UPON THE BUTTON */
article .dropdown:hover .content {
    display: block;
}
article .dropdown:hover button {
    background-color: rgb(29, 167, 16);
}
article .dropdown a:hover {
    background-color: aqua;
    font-weight: bold;
}









/* TRANSFORMATION */
article #box1 {
    width: 100px;
    height: 100px;
    border: solid 5px rgb(175, 92, 154);
    font-size: 4em;
    text-align: center;
    background-color: rgb(138, 8, 8);

    /* FOR POSITION OR ALIGNMENT */
    transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
}





/* ANIMATION */
#boxs{
    /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
    width: 100px;
    text-align: center;
}
/* Slide Left */
article #box2 {
    height: 100px;
    background-color: rgb(212, 33, 33);
    font-size: 4em;
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes slideLeft {
    from {
        transform: translateX(100px);
    }
}
/* Slide Right */
article #box3 {
    height: 100px;
    background-color: rgb(33, 212, 209);
    font-size: 4em;
    animation-name: slideRight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes slideRight {
    to {
        transform: translateX(100px);
    }
}
/* Slide Up */
article #box4 {
    height: 100px;
    background-color: rgb(0, 0, 0);
    font-size: 4em;
    animation-name: slideUp;
    animation-duration: 5s;
}
@keyframes slideUp {
    from {
        transform: translateY(100px);
    }
}
/* Slide Down */
article #box5 {
    height: 100px;
    background-color: rgb(114, 74, 74);
    font-size: 4em;
    animation-name: slideDown;
    animation-duration: 5s;
}
@keyframes slideDown {
    to {
        transform: translateY(100px);
    }
}
/* TO ROTATE WE CAN STILL USE THE from, to, and presentant(45%) */
/* ROTATE HORIZONTALY */
article #box6 {
    height: 100px;
    background-color: rgb(205, 81, 176);
    font-size: 2em;
    animation-name: rotate_Horizontal;
    animation-duration: 5s;
}
@keyframes rotate_Horizontal {
    100% {
        transform: rotateX(360deg);
    }
}
/* ROTATE VERTICALLY */
article #box7 {
    height: 100px;
    background-color: rgb(81, 205, 155);
    font-size: 4em;
    animation-name: rotate_Vertically;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rotate_Vertically {
    100% {
        transform: rotateY(360deg);
    }
}
/* ROTATE CIRCULALY */
article #box8 {
    height: 100px;
    background-color: rgb(160, 81, 205);
    font-size: 4em;
    animation-name: rotate_Circulaly;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rotate_Circulaly {
    /* !! IF YOU DO 50%{} IT WILL COMPLETE THE ROTAION AND USE THE REMAIN 50% TO ROTATE BACK TO IT'S POSITION, TRY IT. !! */
    100% {
        transform: rotateZ(360deg);
    }
}
/* MAKE ELEMENT GROW(ENLARGE) */
article #box9 {
    height: 100px;
    background-color: rgb(81, 205, 166);
    font-size: 4em;
    animation-name: grow;
    animation-duration: 5s;
}
@keyframes grow {
    /* scale(width, height) scale(1=100%, 2=200%) and so on, TRY IT. */
    50% {
        transform: scale(2, 2);
    }
}
/* MAKE ELEMENT SMALL */
article #box10 {
    height: 100px;
    background-color: rgb(151, 205, 81);
    font-size: 4em;
    animation-name: shrink;
    animation-duration: 5s;
}
@keyframes shrink {
    50% {
        transform: scale(0.5, 0.5);
    }
}
/* FADE ELEMENT */
article #box11 {
    height: 100px;
    background-color: rgb(188, 205, 81);
    font-size: 2em;
    animation-name: fade;
    animation-duration: 5s;
}
@keyframes fade {
    50% {
        opacity: 0;
    }
}
/* TO FADE IN AN ELEMENT */
article #box12 {
    height: 100px;
    background-color: rgb(0, 0, 0);
    font-size: 2em;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0
}
@keyframes fadeIn {
    /* IN THE '#box{}' SET THIS 'opacity: 0;' AND SET 'opacity: 1;' HERE */
    100% {
        opacity: 1;
    }
}
/* CHANGE THE COLOR OF AN ELEMENT */
article #box13 {
    height: 100px;
    text-align: center;
}
@keyframes colorChange {
    0% {
        background-color: rgb(0, 0, 0);
    }

    20% {
        background-color: rgb(119, 25, 25);
    }

    60% {
        background-color: rgb(25, 119, 38);
    }

    80% {
        background-color: rgb(206, 203, 26);
    }

    100% {
        background-color: rgb(0, 174, 255);
    }
}
article #box13:hover {
    /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
    animation-name: colorChange;
    animation-duration: 15s;
}
/* THE GLOW EFFECT */
article #box14 {
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 2.4em;
    font-weight: bolder;
    color: blueviolet;
    animation-name: glowEffect;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes glowEffect {

    /* box-shadow: horizontal, vertical, border-radius, color; */
    50% {
        box-shadow: 0px 0px 50px blueviolet;
    }
}
/*
    --- ! NOTE ! ---
    
    [animation-iteration-count]
    TO MAKE ANIMATION OCCUR MORE THAN ONCE, 
    SET THE = [animation-iteration-count: The_Number_You_Want;] 
    YOU CAN SET IT TO infinite [animation-iteration-count: infinite;]

    [animation-direction] 
    DEFAULT VALUE IS = 'normal;'
    TO REVERSE DIRECTION = 'animation-direction: reverse;'
    GOES UP AND DOWN OR LEFT AND RIGTH = 'animation-direction: alternate;' 
    (REVERSE) GOES UP AND DOWN OR LEFT AND RIGTH = 'animation-direction: alternate-reverse;'

    [animation-play-state]
    THIS CAN BE USEFUL WITH JAVASCRIPT
    TO PAUSE ANIMATION = 'animation-play-state: paused;' 
    TO RUN IT AGAIN = 'animation-play-state: running;'

    [animation-timing-function]
    THIS IS THE TIMING/SPEED IT USES TO START AND END.
    THE DEFAULT IS = 'animation-timing-function: ease-in-out;'.
    FOR CONSTANT SPEED = 'animation-timing-function: linear;'
    TO SET WHEN TO STOP THE ANIMATION, USE THE 'steps(Num);' 
    'Num' = ANIMATION WILL STOP WHEN IT REACHES THE 'Num' OF STEPS = 'animation-timing-function: steps(2);'
    
*/





footer {
    /* displaying as block element */
    display: block;

    /* clearing float effect */
    clear: both;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 25px;
}

footer a {
    text-decoration: none;
    color: aquamarine;
}








/* LAPTOP 2560px 4K SCREEN */
@media screen and (max-width: 2570px) {
    header #header_name {
        font-size: 50px;
        font-weight: bold;
    }
    header a {
        font-size: 21px;
        font-weight: bold;
        margin: 150px;
    }
    /* Titles */
    h1 {
        font-size: 42px;
        font-weight: bolder;
    }





    /* ASIDE */
    /* Paragraphing 'p' */
    p {
        font-size: 17px;
    }
    aside {
        text-align: center;
    }
    .list_Title {
        font-size: 35px;
    }
    .ul_list li {
        font-size: 18px;
    }
    .ol_list li {
        font-size: 22px;
    }
    .dl_title {
        font-size: 25px;
        font-weight: bold;
    }
    .dl_list dl {
        font-size: 17px;
    }





    /* SECTION */
    /* Lyrices */
    h2 {
        font-size: 28px;
        font-weight: bold;
    }
    pre {
        font-size: 20px;
    }
    .hor_line {
        font-size: 11px;
    }
    main a {
        font-size: 22px;
    }

    .gif_img p {
        font-size: 30px;
    }
    img {
        width: 72%;
        height: 190px;
    }

    audio {
        width: 370px;
        height: 77px;
    }
    video {
        width: 600px;
    }

    /* FORMS */
    label {
        font-size: 20px;
    }
    input {
        width: 550px;
        height: 50px;
        font-size: 31px;
    }
    textarea {
        width: 400px;
        height: 100px;
    }





    /* ARTICLE */
    article {
        text-align: center;
    }
    table {
        font-size: 20px;
    }
    #hello {
        font-size: 40px;
    }
    .Click_Me{
        background-color: rgb(12, 12, 121);
        color: rgb(224, 224, 243);
        width: 270px;
        height: 50px;
        font-size: 25px;
    }
    /* -- Image LINK -- */
    .img_link p {
        font-size: 20px;
    }
    /* GIDIGBA */
    .img_link h4 {
        font-size: 30px;
    }
    /* Song by Stonebwoy */
    .img_link h5 {
        font-size: 25px;
        font-weight: lighter;
    }
    /* -- CSS SKILLS -- */
    .css_style h3 {
        font-size: 40px;
    }
    article #showPrice p {
        font-size: 22px;
    }
    article #showPrice:hover h4 {
        font-size: 35px;
    }
    /* pagination */
    article .pagination h5 {
        font-size: 20px;
    }
    article .pagination a{
        font-size: 30px;
        padding: 10px;
    }
    /* -- NAVIGATION BAR -- */
    .navbar h5 {
        font-size: 20px;
    }
    .navbar a {
        font-size: 27px;
    }
    /* -- DROPDOWN MENU -- */
    .dropdown h6 {
        font-size: 18px;
    }
    article .dropdown .Fruits {
        width: 240px;
        height: 65px;
        font-size: 27px;
    }
    article .dropdown .content {
        min-width: 255px;
    }
    
    /* TRANSFORMATION */
    #transform {
        font-size: 22px;
    }
    article #box1 {
        width: 200px;
        height: 200px;
        font-size: 8em;
        /* FOR POSITION OR ALIGNMENT */
        transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
    }

    
    /* ANIMATION */
    /* ---ANIMATION--- */
    #animation {
        font-size: 23px;
    }
    #boxs{
        /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
        width: 120px;
    }
    /* Slide Left */
    article #box2 {
        height: 120px;
        font-size: 5em;
    }
    /* Slide Right */
    article #box3 {
        height: 120px;
        font-size: 5em;
    }
    /* Slide Up */
    article #box4 {
        height: 120px;
        font-size: 5em;
    }
    /* Slide Down */
    article #box5 {
        height: 120px;
        font-size: 5em;
    }
    article #box6 {
        height: 120px;
        font-size: 2em;
    }
    /* ROTATE VERTICALLY */
    article #box7 {
        height: 120px;
        font-size: 5em;
    }
    /* ROTATE CIRCULALY */
    article #box8 {
        height: 120px;
        font-size: 5em;
    }
    /* MAKE ELEMENT GROW(ENLARGE) */
    article #box9 {
        height: 120px;
        font-size: 5em;
    }
    /* MAKE ELEMENT SMALL */
    article #box10 {
        height: 120px;
        font-size: 5em;
    }
    /* FADE ELEMENT */
    article #box11 {
        height: 120px;
        font-size: 2.4em;
        color: black;
    }
    /* TO FADE IN AN ELEMENT */
    article #box12 {
        background-color: rgb(0, 0, 0);
        height: 120px;
        font-size: 2.4em;
    }
    /* CHANGE THE COLOR OF AN ELEMENT */
    article #box13 {
        height: 120px;
        font-size: 2em;
    }
    article #box13:hover {
        /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
        animation-name: colorChange;
        animation-duration: 15s;
    }
    /* THE GLOW EFFECT */
    article #box14 {
        height: 120px;
        font-size: 3em;
    }
}









/* LAPTOP 1460 LARGE SCREEN NOT USED */










/* LAPTOP 1024px SCREEN */
@media screen and (max-width: 1030px){
    header #header_name {
        font-size: 23px;
        font-weight: bold;
    }
    header a {
        font-size: 9.3px;
        font-weight: bold;
        margin: 90px;
    }
    /* Titles */
    h1 {
        font-size: 20px;
        font-weight: bolder;
    }





    /* ASIDE */
    /* Paragraphing 'p' */
    p {
        font-size: 11px;
    }
    aside {
        text-align: center;
    }
    .list_Title {
        font-size: 15px;
    }
    .ul_list li {
        font-size: 12px;
    }
    .ol_list li {
        font-size: 12px;
    }
    .dl_title {
        font-size: 13px;
        font-weight: bold;
    }
    .dl_list dl {
        font-size: 12px;
    }





    /* SECTION */
    /* Lyrices */
    h2 {
        font-size: 16px;
        font-weight: bold;
    }
    pre {
        font-size: 10.3px;
    }
    .hor_line {
        font-size: 11px;
    }
    main a {
        font-size: 14px;
    }

    .gif_img p {
        font-size: 12.5px;
    }
    img {
        width: 88%;
        height: 90px;
    }

    audio {
        width: 270px;
        height: 27px;
    }
    video {
        width: 270px;
    }

    /* FORMS */
    label {
        font-size: 14px;
    }
    input {
        width: 360px;
        height: 20px;
        font-size: 11px;
    }
    textarea {
        width: 250px;
        height: 60px;
    }





    /* ARTICLE */
    article {
        text-align: center;
    }
    table {
        font-size: 10px;
    }
    #hello {
        font-size: 20px;
    }
    .Click_Me{
        background-color: rgb(12, 12, 121);
        color: rgb(224, 224, 243);
        width: 100px;
        height: 30px;
    }
    /* -- Image LINK -- */
    .img_link p {
        font-size: 11px;
    }
    /* GIDIGBA */
    .img_link h4 {
        font-size: 17px;
    }
    /* Song by Stonebwoy */
    .img_link h5 {
        font-size: 9px;
        font-weight: lighter;
    }
    /* -- CSS SKILLS -- */
    .css_style h3 {
        font-size: 20px;
    }
    article #showPrice p {
        font-size: 12px;
    }
    article #showPrice:hover h4 {
        font-size: 15px;
    }
    /* pagination */
    article .pagination h5 {
        font-size: 12px;
    }
    article .pagination a{
        font-size: 20px;
        padding: 10px;
    }
    /* -- NAVIGATION BAR -- */
    .navbar h5 {
        font-size: 12px;
    }
    .navbar a {
        font-size: 14px;
    }
    /* -- DROPDOWN MENU -- */
    .dropdown h6 {
        font-size: 12px;
    }
    article .dropdown .Fruits {
        width: 90px;
        height: 35px;
        font-size: 14px;
    }
    
    /* TRANSFORMATION */
    #transform {
        font-size: 12px;
    }
    article #box1 {
        width: 80px;
        height: 74px;
        font-size: 2.9em;
        /* FOR POSITION OR ALIGNMENT */
        transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
    }

    
    /* ANIMATION */
    /* ---ANIMATION--- */
    #animation {
        font-size: 11px;
    }
    #boxs{
        /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
        width: 70px;
    }
    /* Slide Left */
    article #box2 {
        height: 45px;
        font-size: 1.8em;
    }
    /* Slide Right */
    article #box3 {
        height: 45px;
        font-size: 1.8em;
    }
    /* Slide Up */
    article #box4 {
        height: 45px;
        font-size: 1.8em;
    }
    /* Slide Down */
    article #box5 {
        height: 45px;
        font-size: 1.8em;
    }
    article #box6 {
        height: 25px;
        font-size: 0.61em;
    }
    /* ROTATE VERTICALLY */
    article #box7 {
        height: 45px;
        font-size: 1.8em;
    }
    /* ROTATE CIRCULALY */
    article #box8 {
        height: 45px;
        font-size: 1.8em;
    }
    /* MAKE ELEMENT GROW(ENLARGE) */
    article #box9 {
        height: 45px;
        font-size: 1.8em;
    }
    /* MAKE ELEMENT SMALL */
    article #box10 {
        height: 45px;
        font-size: 1.8em;
    }
    /* FADE ELEMENT */
    article #box11 {
        height: 45px;
        font-size: 1.1em;
        color: black;
    }
    /* TO FADE IN AN ELEMENT */
    article #box12 {
        background-color: rgb(0, 0, 0);
        height: 45px;
        font-size: 1.2em;
    }
    /* CHANGE THE COLOR OF AN ELEMENT */
    article #box13 {
        height: 45px;
        font-size: 0.7em;
    }
    article #box13:hover {
        /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
        animation-name: colorChange;
        animation-duration: 15s;
    }
    /* THE GLOW EFFECT */
    article #box14 {
        height: 45px;
        font-size: 1.8em;
    }
}










/* TABLET 768px SCREEN */
@media screen and (max-width: 770px){
    header #header_name {
        font-size: 18px;
        font-weight: bold;
    }
    header a {
        font-size: 9.2px;
        font-weight: bold;
        margin: 55px;
    }
    /* Titles */
    h1 {
        font-size: 17px;
        font-weight: bolder;
    }





    /* ASIDE */
    /* Paragraphing 'p' */
    p {
        font-size: 11px;
    }
    aside {
        text-align: center;
    }
    .list_Title {
        font-size: 13px;
    }
    .ul_list li {
        font-size: 10px;
    }
    .ol_list li {
        font-size: 10px;
    }
    .dl_title {
        font-size: 11px;
        font-weight: bold;
    }
    .dl_list dl {
        font-size: 10px;
    }





    /* SECTION */
    /* Lyrices */
    h2 {
        font-size: 12px;
        font-weight: bold;
    }
    pre {
        font-size: 7.7px;
    }
    .hor_line {
        font-size: 11px;
    }
    main a {
        font-size: 12px;
    }

    .gif_img p {
        font-size: 12.5px;
    }
    img {
        width: 90%;
        height: 80px;
    }

    audio {
        width: 200px;
        height: 25px;
    }
    video {
        width: 190px;
    }

    /* FORMS */
    label {
        font-size: 12px;
    }
    input {
        width: 260px;
        height: 20px;
        font-size: 9px;
    }
    textarea {
        width: 200px;
        height: 40px;
    }





    /* ARTICLE */
    article {
        text-align: center;
    }
    table {
        font-size: 7px;
    }
    #hello {
        font-size: 15px;
    }
    .Click_Me{
        background-color: rgb(12, 12, 121);
        color: rgb(224, 224, 243);
        width: 90px;
    }
    /* -- Image LINK -- */
    .img_link p {
        font-size: 9px;
    }
    /* GIDIGBA */
    .img_link h4 {
        font-size: 14px;
    }
    /* Song by Stonebwoy */
    .img_link h5 {
        font-size: 9px;
        font-weight: lighter;
    }
    /* -- CSS SKILLS -- */
    .css_style h3 {
        font-size: 14px;
    }
    article #showPrice p {
        font-size: 12px;
    }
    article #showPrice:hover h4 {
        font-size: 15px;
    }
    /* pagination */
    article .pagination h5 {
        font-size: 11px;
    }
    article .pagination a{
        font-size: 18px;
        padding: 1px;
    }
    /* -- NAVIGATION BAR -- */
    .navbar h5 {
        font-size: 10px;
    }
    .navbar a {
        font-size: 14px;
    }
    /* -- DROPDOWN MENU -- */
    .dropdown h6 {
        font-size: 10px;
    }
    article .dropdown .Fruits {
        width: 90px;
        height: 35px;
        font-size: 14px;
    }
    
    /* TRANSFORMATION */
    #transform {
        font-size: 10px;
    }
    article #box1 {
        width: 60px;
        height: 60px;
        font-size: 2em;
        /* FOR POSITION OR ALIGNMENT */
        transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
    }

    
    /* ANIMATION */
    /* ---ANIMATION--- */
    #animation {
        font-size: 11px;
    }
    #boxs{
        /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
        width: 50px;
    }
    /* Slide Left */
    article #box2 {
        height: 25px;
        font-size: 1em;
    }
    /* Slide Right */
    article #box3 {
        height: 25px;
        font-size: 1em;
    }
    /* Slide Up */
    article #box4 {
        height: 25px;
        font-size: 1em;
    }
    /* Slide Down */
    article #box5 {
        height: 25px;
        font-size: 1em;
    }
    article #box6 {
        height: 25px;
        font-size: 0.61em;
    }
    /* ROTATE VERTICALLY */
    article #box7 {
        height: 25px;
        font-size: 1em;
    }
    /* ROTATE CIRCULALY */
    article #box8 {
        height: 25px;
        font-size: 1em;
    }
    /* MAKE ELEMENT GROW(ENLARGE) */
    article #box9 {
        height: 25px;
        font-size: 1em;
    }
    /* MAKE ELEMENT SMALL */
    article #box10 {
        height: 25px;
        font-size: 1em;
    }
    /* FADE ELEMENT */
    article #box11 {
        height: 25px;
        font-size: 0.7em;
        color: black;
    }
    /* TO FADE IN AN ELEMENT */
    article #box12 {
        background-color: rgb(0, 0, 0);
        height: 25px;
        font-size: 0.8em;
    }
    /* CHANGE THE COLOR OF AN ELEMENT */
    article #box13 {
        height: 25px;
        font-size: 0.5em;
    }
    article #box13:hover {
        /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
        animation-name: colorChange;
        animation-duration: 15s;
    }
    /* THE GLOW EFFECT */
    article #box14 {
        height: 25px;
        font-size: 1em;
    }
}









/* LARGE PHONE SCREEN */
@media screen and (max-width: 500px){
    header #header_name {
        font-size: 17px;
        font-weight: bold;
    }
    header a {
        font-size: 9.2px;
        font-weight: bold;
        margin: 19px;
    }
    /* Titles */
    h1 {
        font-size: 15px;
        font-weight: bolder;
    }





    /* ASIDE */
    /* Paragraphing 'p' */
    p {
        font-size: 10px;
    }
    aside {
        text-align: center;
    }
    .list_Title {
        font-size: 12.5px;
    }
    .ul_list li {
        font-size: 8px;
    }
    .ol_list li {
        font-size: 8px;
    }
    .dl_title {
        font-size: 9px;
    }
    .dl_list dl {
        font-size: 7px;
    }





    /* SECTION */
    /* Lyrices */
    h2 {
        font-size: 12px;
        font-weight: bold;
    }
    pre {
        font-size: 4.2px;
    }
    .hor_line {
        font-size: 11px;
    }
    main a {
        font-size: 11px;
    }

    .gif_img p {
        font-size: 12.5px;
    }
    img {
        width: 90%;
        height: 70px;
    }

    audio {
        width: 120px;
        height: 20px;
    }
    video {
        width: 120px;
    }

    /* FORMS */
    label {
        font-size: 11px;
    }
    input {
        width: 130px;
        height: 18px;
        font-size: 8.8px;
    }
    textarea {
        width: 100px;
        height: 40px;
    }





    /* ARTICLE */
    article {
        text-align: center;
    }
    table {
        font-size: 4.4px;
    }
    #hello {
        font-size: 12.5px;
    }
    .Click_Me{
        background-color: rgb(12, 12, 121);
        color: rgb(224, 224, 243);
        width: 70px;
    }
    /* -- Image LINK -- */
    .img_link p {
        font-size: 9px;
    }
    /* GIDIGBA */
    .img_link h4 {
        font-size: 13px;
    }
    /* Song by Stonebwoy */
    .img_link h5 {
        font-size: 9px;
        font-weight: lighter;
    }
    /* -- CSS SKILLS -- */
    .css_style h3 {
        font-size: 12.5px;
    }
    article #showPrice p {
        font-size: 10px;
    }
    article #showPrice:hover h4 {
        font-size: 14px;
    }
    /* pagination */
    article .pagination h5 {
        font-size: 10px;
    }
    article .pagination a{
        font-size: 15px;
        padding: 1px;
    }
    /* -- NAVIGATION BAR -- */
    .navbar h5 {
        font-size: 9.5px;
    }
    .navbar a {
        font-size: 13px;
    }
    /* -- DROPDOWN MENU -- */
    .dropdown h6 {
        font-size: 9px;
    }
    article .dropdown .Fruits {
        width: 80px;
        height: 25px;
    }
    
    /* TRANSFORMATION */
    #transform {
        font-size: 9px;
    }
    article #box1 {
        width: 50px;
        height: 50px;
        font-size: 1.7em;
        /* FOR POSITION OR ALIGNMENT */
        transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
    }

    
    /* ANIMATION */
    /* ---ANIMATION--- */
    #animation {
        font-size: 10px;
    }
    #boxs{
        /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
        width: 30px;
    }
    /* Slide Left */
    article #box2 {
        height: 15px;
        font-size: 0.6em;
    }
    /* Slide Right */
    article #box3 {
        height: 15px;
        font-size: 0.6em;
    }
    /* Slide Up */
    article #box4 {
        height: 15px;
        font-size: 0.5em;
    }
    /* Slide Down */
    article #box5 {
        height: 15px;
        font-size: 0.6em;
    }
    article #box6 {
        height: 15px;
        font-size: 0.6em;
    }
    /* ROTATE VERTICALLY */
    article #box7 {
        height: 15px;
        font-size: 0.6em;
    }
    /* ROTATE CIRCULALY */
    article #box8 {
        height: 15px;
        font-size: 0.6em;
    }
    /* MAKE ELEMENT GROW(ENLARGE) */
    article #box9 {
        height: 15px;
        font-size: 0.6em;
    }
    /* MAKE ELEMENT SMALL */
    article #box10 {
        height: 15px;
        font-size: 0.6em;
    }
    /* FADE ELEMENT */
    article #box11 {
        height: 15px;
        font-size: 0.6em;
    }
    /* TO FADE IN AN ELEMENT */
    article #box12 {
        background-color: rgb(0, 0, 0);
        height: 15px;
        font-size: 0.2em;
    }
    /* CHANGE THE COLOR OF AN ELEMENT */
    article #box13 {
        height: 15px;
        font-size: 0.6em;
    }
    article #box13 p {
        font-size: 0.1rem;
    }
    article #box13:hover {
        /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
        animation-name: colorChange;
        animation-duration: 15s;
    }
    /* THE GLOW EFFECT */
    article #box14 {
        height: 15px;
        font-size: 0.45em;
    }
}











/* MEDIUM / NORMAL PHONE SCREEN */
@media screen and (max-width: 390px){
    header #header_name {
        font-size: 16px;
        font-weight: bold;
    }
    header a {
        font-size: 9.1px;
        font-weight: bold;
        margin: 18px;
    }
    /* Titles */
    h1 {
        font-size: 14px;
        font-weight: bolder;
    }





    /* ASIDE */
    /* Paragraphing 'p' */
    p {
        font-size: 9px;
    }
    aside {
        text-align: center;
    }
    .list_Title {
        font-size: 12px;
    }
    .ul_list li {
        font-size: 5px;
    }
    .ol_list li {
        font-size: 5px;
    }
    .dl_title {
        font-size: 9px;
    }
    .dl_list dl {
        font-size: 5px;
    }





    /* SECTION */
    /* Lyrices */
    h2 {
        font-size: 11px;
        font-weight: bold;
    }
    pre {
        font-size: 3.6px;
    }
    .hor_line {
        font-size: 11px;
    }
    main a {
        font-size: 11px;
    }

    .gif_img p {
        font-size: 12.5px;
    }
    img {
        width: 90%;
        height: 70px;
    }

    audio {
        width: 120px;
        height: 20px;
    }
    video {
        width: 120px;
    }

    /* FORMS */
    label {
        font-size: 11px;
    }
    input {
        width: 110px;
        height: 18px;
        font-size: 8.5px;
    }
    textarea {
        width: 100px;
        height: 40px;
    }





    /* ARTICLE */
    article {
        text-align: center;
    }
    table {
        font-size: 3.8px;
    }
    #hello {
        font-size: 12.5px;
    }
    .Click_Me{
        background-color: rgb(12, 12, 121);
        color: rgb(224, 224, 243);
        width: 70px;
    }
    /* -- Image LINK -- */
    .img_link p {
        font-size: 9px;
    }
    /* GIDIGBA */
    .img_link h4 {
        font-size: 13px;
    }
    /* Song by Stonebwoy */
    .img_link h5 {
        font-size: 9px;
        font-weight: lighter;
    }
    /* -- CSS SKILLS -- */
    .css_style h3 {
        font-size: 12.5px;
    }
    article #showPrice p {
        font-size: 10px;
    }
    article #showPrice:hover h4 {
        font-size: 14px;
    }
    article .pagination h5 {
        font-size: 9px;
    }
    article .pagination a{
        font-size: 14px;
        padding: 1px;
    }
    /* -- NAVIGATION BAR -- */
    .navbar h5 {
        font-size: 9px;
    }
    .navbar a {
        font-size: 11px;
    }
    /* -- DROPDOWN MENU -- */
    .dropdown h6 {
        font-size: 9px;
    }
    article .dropdown .Fruits {
        width: 80px;
        height: 25px;
    }
    
    /* TRANSFORMATION */
    #transform {
        font-size: 9px;
    }
    article #box1 {
        width: 50px;
        height: 50px;
        font-size: 1.7em;
        /* FOR POSITION OR ALIGNMENT */
        transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
    }

    
    /* ANIMATION */
    #animation {
        font-size: 10px;
    }
    #boxs{
        /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
        width: 20px;
    }
    /* Slide Left */
    article #box2 {
        height: 15px;
        font-size: 0.6em;
    }
    /* Slide Right */
    article #box3 {
        height: 15px;
        font-size: 0.6em;
    }
    /* Slide Up */
    article #box4 {
        height: 15px;
        font-size: 0.5em;
    }
    /* Slide Down */
    article #box5 {
        height: 15px;
        font-size: 0.6em;
    }
    article #box6 {
        height: 15px;
        font-size: 0.6em;
    }
    /* ROTATE VERTICALLY */
    article #box7 {
        height: 15px;
        font-size: 0.6em;
    }
    /* ROTATE CIRCULALY */
    article #box8 {
        height: 15px;
        font-size: 0.6em;
    }
    /* MAKE ELEMENT GROW(ENLARGE) */
    article #box9 {
        height: 15px;
        font-size: 0.6em;
    }
    /* MAKE ELEMENT SMALL */
    article #box10 {
        height: 15px;
        font-size: 0.6em;
    }
    /* FADE ELEMENT */
    article #box11 {
        height: 15px;
        font-size: 0.6em;
    }
    /* TO FADE IN AN ELEMENT */
    article #box12 {
        background-color: rgb(0, 0, 0);
        height: 15px;
        font-size: 0.2em;
    }
    /* CHANGE THE COLOR OF AN ELEMENT */
    article #box13 {
        height: 15px;
        font-size: 0.6em;
    }
    article #box13 p {
        font-size: 0.1rem;
    }
    article #box13:hover {
        /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
        animation-name: colorChange;
        animation-duration: 15s;
    }
    /* THE GLOW EFFECT */
    article #box14 {
        height: 15px;
        font-size: 0.45em;
    }
    
}









/* SMALL PHONE SCREEN */
@media screen and (max-width: 350px){
    header #header_name {
        font-size: 14px;
        font-weight: bold;
    }
    header a {
        font-size: 8px;
        font-weight: bold;
        margin: 12px;
    }
    /* Titles */
    h1 {
        font-size: 13px;
        font-weight: bolder;
    }





    /* ASIDE */
    /* Paragraphing 'p' */
    p {
        font-size: 8px;
    }
    aside {
        text-align: center;
    }
    .list_Title {
        font-size: 11px;
    }
    .ul_list li {
        font-size: 3.4px;
    }
    .ol_list li {
        font-size: 3.5px;
    }
    .dl_title {
        font-size: 8px;
    }
    .dl_list dl {
        font-size: 3px;
    }





    /* SECTION */
    /* Lyrices */
    h2 {
        font-size: 10px;
        font-weight: bold;
    }
    pre {
        font-size: 3.1px;
    }
    .hor_line {
        font-size: 11px;
    }
    main a {
        font-size: 10px;
    }

    .gif_img p {
        font-size: 12px;
    }
    img {
        width: 70%;
        height: 40%;
    }

    audio {
        width: 100px;
        height: 20px;
    }
    video {
        width: 100px;
    }

    /* FORMS */
    label {
        font-size: 10px;
    }
    input {
        width: 100px;
        height: 17px;
        font-size: 8px;
    }
    textarea {
        width: 100px;
        height: 40px;
    }





    /* ARTICLE */
    article {
        text-align: center;
    }
    table {
        font-size: 3.1px;
    }
    #hello {
        font-size: 12px;
    }
    .Click_Me{
        background-color: rgb(12, 12, 121);
        color: rgb(224, 224, 243);
    }
    /* -- Image LINK -- */
    .img_link p {
        font-size: 9px;
    }
    /* GIDIGBA */
    .img_link h4 {
        font-size: 12px;
    }
    /* Song by Stonebwoy */
    .img_link h5 {
        font-size: 9px;
        font-weight: lighter;
    }
    /* -- CSS SKILLS -- */
    .css_style h3 {
        font-size: 12px;
    }
    article #showPrice p {
        font-size: 9px;
    }
    article #showPrice:hover h4 {
        font-size: 12px;
    }
    article .pagination h5 {
        font-size: 8.4px;
    }
    article .pagination a{
        font-size: 12px;
        padding: 1px;
    }
    /* -- NAVIGATION BAR -- */
    .navbar h5 {
        font-size: 8px;
    }
    .navbar a {
        font-size: 9px;
    }
    /* -- DROPDOWN MENU -- */
    .dropdown h6 {
        font-size: 8px;
    }
    article .dropdown .Fruits {
        width: 80px;
        height: 25px;
    }
    
    /* TRANSFORMATION */
    #transform {
        font-size: 8px;
    }
    article #box1 {
        width: 40px;
        height: 50px;
        font-size: 1.7em;
        /* FOR POSITION OR ALIGNMENT */
        transform: translateX(100%) rotateZ(90deg) scale(0.5) skewX(45deg);
    }

    
    /* ANIMATION */
    #animation {
        font-size: 10px;
    }
    #boxs{
        /* IF WE ADD THE 'height: 100px;' HERE, IT WILL DISPLACE THE FOOTER, THATS WHY IT'S NOT HERE. */
        width: 10px;
    }
    /* Slide Left */
    article #box2 {
        height: 10px;
        font-size: 0.1em;
    }
    /* Slide Right */
    article #box3 {
        height: 10px;
        font-size: 0.1em;
    }
    /* Slide Up */
    article #box4 {
        height: 10px;
        font-size: 0.1em;
    }
    /* Slide Down */
    article #box5 {
        height: 10px;
        font-size: 0.1em;
    }
    article #box6 {
        height: 10px;
        font-size: 0.1em;
    }
    /* ROTATE VERTICALLY */
    article #box7 {
        height: 10px;
        font-size: 0.1em;
    }
    /* ROTATE CIRCULALY */
    article #box8 {
        height: 10px;
        font-size: 0.1em;
    }
    /* MAKE ELEMENT GROW(ENLARGE) */
    article #box9 {
        height: 10px;
        font-size: 0.1em;
    }
    /* MAKE ELEMENT SMALL */
    article #box10 {
        height: 10px;
        font-size: 0.1em;
    }
    /* FADE ELEMENT */
    article #box11 {
        height: 10px;
        font-size: 0.1em;
    }
    /* TO FADE IN AN ELEMENT */
    article #box12 {
        height: 10px;
        background-color: rgb(0, 0, 0);
        font-size: 0.1em;
    }
    /* CHANGE THE COLOR OF AN ELEMENT */
    article #box13 {
        height: 10px;
        text-align: center;
    }
    article #box13 p {
        font-size: 0.1rem;
    }
    article #box13:hover {
        /* MOVE THE ANIMATION NAME AND DURATION TO HERE, THAT ALL. */
        animation-name: colorChange;
        animation-duration: 15s;
    }
    /* THE GLOW EFFECT */
    article #box14 {
        height: 10px;
        font-size: 0.1em;
    }
}